Enterprise Attendance Mangement System n8n workflow- without credentials.json

{
  "name": "Attendance System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "attendance",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        1056
      ],
      "id": "73be049e-eb2d-4925-8a3e-245f78319b6d",
      "webhookId": "simple-attendance"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{$json[\"body\"][\"Date\"]}}",
            "Employee Name": "={{$json[\"body\"][\"Employee Name\"]}}",
            "Status": "={{$json[\"body\"][\"Status\"]}}",
            "Time": "={{$json[\"body\"][\"Time\"]}}",
            "Employee ID": "={{$json[\"body\"][\"Employee ID\"]}}",
            "Image": "{{$json[\"body\"][\"Image\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        1056
      ],
      "id": "ca708bad-edc2-4ee9-afb6-422545401893",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "attendance",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "31d5265a-7275-4e9d-818c-2f88c4c9088b",
      "name": "Employee Check-In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        -64
      ],
      "webhookId": "attendance-checkin"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Attendance",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{$json[\"body\"][\"Date\"]}}",
            "Time": "={{$json[\"body\"][\"Time\"]}}",
            "Employee ID": "={{$json[\"body\"][\"Employee ID\"]}}",
            "Employee Name": "={{$json[\"body\"][\"Employee Name\"]}}",
            "Status": "={{$json[\"body\"][\"Status\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2fb9354c-dda2-408f-9b24-8a7f6043e829",
      "name": "Log to Attendance Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        -64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const employee = $input.first().json;\nconst now = new Date();\n\nreturn [{\n  json: {\n    success: true,\n    message: `Attendance recorded for ${employee['Employee Name']}`,\n    timestamp: now.toISOString(),\n    employeeName: employee['Employee Name'],\n    employeeId: employee['Employee ID']\n  }\n}];"
      },
      "id": "d77a1d2d-cdf4-4c4f-9aa0-1c1b58c522de",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -64
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 1 * *"
            }
          ]
        }
      },
      "id": "cdf2c9dc-9c68-4023-9750-3d60cf2d4363",
      "name": "Monthly Payroll (1st of month)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        656,
        160
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Attendance",
          "mode": "name"
        },
        "options": {}
      },
      "id": "6cf1307f-3278-4932-a61e-a9221931eb6b",
      "name": "Get Attendance Records",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate payroll for all employees\nconst attendanceRecords = $input.all();\nconst now = new Date();\nconst lastMonth = new Date(now.getFullYear(), now.getMonth() - 1, 1);\nconst lastMonthEnd = new Date(now.getFullYear(), now.getMonth(), 0);\n\n// Employee hourly rates (you can customize this)\nconst hourlyRates = {\n  '1': 15, '2': 18, '3': 20, '4': 16, '5': 17,\n  '6': 15, '7': 19, '8': 22, '9': 15, '10': 18,\n  '11': 20, '12': 16, '13': 21, '14': 17, '15': 19,\n  '16': 15, '17': 18, '18': 16, '19': 20, '20': 17\n};\n\nconst workingHoursPerDay = 8;\n\n// Group by employee\nconst employeeData = {};\n\nattendanceRecords.forEach(record => {\n  const empId = record.json['Employee ID'];\n  const empName = record.json['Employee Name'];\n  const date = record.json['Date'];\n  const status = record.json['Status'];\n  \n  if (!employeeData[empId]) {\n    employeeData[empId] = {\n      employeeId: empId,\n      employeeName: empName,\n      presentDays: new Set(),\n      totalHours: 0,\n      hourlyRate: hourlyRates[empId] || 15\n    };\n  }\n  \n  if (status === 'Present') {\n    employeeData[empId].presentDays.add(date);\n  }\n});\n\n// Calculate payroll\nconst payrollResults = Object.values(employeeData).map(emp => {\n  const daysPresent = emp.presentDays.size;\n  const hoursWorked = daysPresent * workingHoursPerDay;\n  const grossPay = hoursWorked * emp.hourlyRate;\n  const tax = grossPay * 0.15; // 15% tax\n  const netPay = grossPay - tax;\n  \n  return {\n    json: {\n      'Employee ID': emp.employeeId,\n      'Employee Name': emp.employeeName,\n      'Days Present': daysPresent,\n      'Hours Worked': hoursWorked,\n      'Hourly Rate': emp.hourlyRate,\n      'Gross Pay': grossPay.toFixed(2),\n      'Tax (15%)': tax.toFixed(2),\n      'Net Pay': netPay.toFixed(2),\n      'Period': `${lastMonth.toLocaleDateString()} - ${lastMonthEnd.toLocaleDateString()}`,\n      'Generated On': now.toLocaleDateString()\n    }\n  };\n});\n\nreturn payrollResults;"
      },
      "id": "f161abb7-94a1-4ad1-8d6a-ab811a53e15f",
      "name": "Calculate Monthly Payroll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        160
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Payroll",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee ID ": "={{ $json[\"Employee ID\"] }}",
            "Employee Name": "=  {{ $json[\"Employee Name\"] }}",
            "Days Present": "={{ $json[\"Days Present\"] }}",
            "Hour worked": "={{ $json[\"Hours Worked\"] }}",
            "Hourly Rate": "={{ $json[\"Hourly Rate\"] }}",
            "Gross Pay": "={{ $json[\"Gross Pay\"] }}",
            " Tax (15%)": "={{ $json[\"Tax (15%)\"] }}",
            "Net Pay": "={{ $json[\"Net Pay\"] }}",
            "Period": "={{ $json[\"Period\"] }}",
            "Generated On": "={{ $json[\"Generated On\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Employee ID ",
              "displayName": "Employee ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Days Present",
              "displayName": "Days Present",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hour worked",
              "displayName": "Hour worked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hourly Rate",
              "displayName": "Hourly Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gross Pay",
              "displayName": "Gross Pay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Tax (15%)",
              "displayName": " Tax (15%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Net Pay",
              "displayName": "Net Pay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Period",
              "displayName": "Period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated On",
              "displayName": "Generated On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b36f6aed-9338-4ee6-ba13-c43833f4d5b5",
      "name": "Save Payroll Report",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1328,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/report",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "37af3523-53da-4299-b3b7-4216594f95e5",
      "name": "Admin Report Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        384
      ],
      "webhookId": "admin-report"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Attendance",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c3d3583a-84b2-44fe-9a91-d5c741b37fea",
      "name": "Get All Attendance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate attendance analytics\nconst records = $input.all();\nconst today = new Date().toLocaleDateString();\n\n// Calculate stats\nconst stats = {\n  totalRecords: records.length,\n  todayAttendance: records.filter(r => r.json.Date === today).length,\n  uniqueEmployees: new Set(records.map(r => r.json['Employee ID'])).size,\n  presentToday: records.filter(r => r.json.Date === today && r.json.Status === 'Present').length\n};\n\n// Group by employee\nconst employeeStats = {};\nrecords.forEach(record => {\n  const empId = record.json['Employee ID'];\n  const empName = record.json['Employee Name'];\n  \n  if (!employeeStats[empId]) {\n    employeeStats[empId] = {\n      id: empId,\n      name: empName,\n      totalDays: 0,\n      presentDays: 0,\n      attendanceRate: 0\n    };\n  }\n  \n  employeeStats[empId].totalDays++;\n  if (record.json.Status === 'Present') {\n    employeeStats[empId].presentDays++;\n  }\n});\n\n// Calculate attendance rate\nObject.values(employeeStats).forEach(emp => {\n  emp.attendanceRate = ((emp.presentDays / emp.totalDays) * 100).toFixed(1) + '%';\n});\n\nreturn [{\n  json: {\n    success: true,\n    summary: stats,\n    employeeDetails: Object.values(employeeStats),\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "840b3648-b2ff-48d6-bf83-bc3fd1b29903",
      "name": "Generate Analytics Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        384
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "employee/register",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f21d1592-5e1d-48b8-88fc-f22687d0f5a5",
      "name": "Register New Employee",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        1952
      ],
      "webhookId": "register-employee"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Employees",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee ID": "={{$json[\"body\"][\"Employee ID\"]}}",
            "Employee Name": "={{$json[\"body\"][\"Employee Name\"]}}",
            "Department": "={{$json[\"body\"][\"Department\"]}}",
            "Email": "= {{$json[\"body\"][\"Email\"]}}",
            "Hire Date": "={{$json[\"body\"][\"Hire Date\"]}}",
            "Phone": "={{$json[\"body\"][\"Phone\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hire Date",
              "displayName": "Hire Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "43bb147d-c0e0-4f1a-a696-02affd711e46",
      "name": "Save Employee Details",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        1952
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const employee = $input.first().json;\nreturn [{\n  json: {\n    success: true,\n    message: `Employee ${employee['Employee Name']} registered successfully`,\n    employeeId: employee['Employee ID']\n  }\n}];"
      },
      "id": "0671c857-6db0-4136-87ff-3720dfe90bdb",
      "name": "Registration Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1952
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leave/request",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "94554d48-3457-4884-ae81-2eed225c5aa0",
      "name": "Leave Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        832
      ],
      "webhookId": "81d14b93-6cde-403c-ac75-cbe4195e2262"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leave_Requests",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Leave ID": "={{$json[\"body\"][\"Leave ID\"]}}",
            "Employee ID": "={{$json[\"body\"][\"Employee ID\"]}}",
            " Employee Name": "={{$json[\"body\"][\"Employee Name\"]}}",
            "Leave Type": "={{$json[\"body\"][\"Leave Type\"]}}",
            "Start Date": "={{$json[\"body\"][\"Start Date\"]}}",
            "End Date": "={{$json[\"body\"][\"End Date\"]}}",
            "Days": "={{$json[\"body\"][\"Days\"]}}",
            "Reason": "={{$json[\"body\"][\"Reason\"]}}",
            "Status": "={{$json[\"body\"][\"Status\"]}}",
            "Approved By": "={{$json[\"body\"][\"Approved By\"]}}",
            "Approved Date": "={{$json[\"body\"][\"Approved Date\"]}}",
            "Submitted Date": "={{$json[\"body\"][\"Submitted Date\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Leave ID",
              "displayName": "Leave ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Employee Name",
              "displayName": " Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Leave Type",
              "displayName": "Leave Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End Date",
              "displayName": "End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Days",
              "displayName": "Days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved By",
              "displayName": "Approved By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved Date",
              "displayName": "Approved Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted Date",
              "displayName": "Submitted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4d8e522e-c1fe-4cec-86c6-b0fde4a29dab",
      "name": "Save Leave Request",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        832
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: `Leave request submitted successfully`,\n    status: 'Pending approval'\n  }\n}];"
      },
      "id": "8f089a61-9bf9-443c-9615-e647922f9187",
      "name": "Leave Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        832
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "overtime/log",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d0c4f154-8c5d-4747-be90-f931e3c82e08",
      "name": "Log Overtime",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        1504
      ],
      "webhookId": "faf27a28-34b4-4a07-af8c-bdd128d43089"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst now = new Date();\n\nconst regularRate = parseFloat(data['Hourly Rate']) || 15;\nconst overtimeHours = parseFloat(data['Overtime Hours']) || 0;\nconst overtimeRate = regularRate * 1.5;\nconst overtimePay = overtimeHours * overtimeRate;\n\nreturn [{\n  json: {\n    'Employee ID': data['Employee ID'],\n    'Employee Name': data['Employee Name'],\n    'Date': data['Date'] || now.toLocaleDateString('en-US'),\n    'Regular Hours': data['Regular Hours'] || 8,\n    'Overtime Hours': overtimeHours,\n    'Regular Rate': regularRate.toFixed(2),\n    'Overtime Rate': overtimeRate.toFixed(2),\n    'Overtime Pay': overtimePay.toFixed(2),\n    'Reason': data['Reason'] || 'Standard overtime',\n    'Approved By': data['Approved By'] || 'Pending',\n    'Logged At': now.toISOString()\n  }\n}];"
      },
      "id": "48de4a47-45dd-4594-a74c-bb00c9b18f45",
      "name": "Calculate Overtime",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1504
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Overtime Sheet",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee ID": "={{$json[\"Employee ID\"]}}",
            "Employee Name": "={{$json[\"Employee Name\"]}}",
            "Date": "={{$json[\"Date\"]}}",
            "Regular Hours": "={{$json[\"Regular Hours\"]}}{{$json[\"Regular Hours\"]}}",
            "Overtime Hours": "={{$json[\"Overtime Hours\"]}}",
            "Regular Rate": "={{$json[\"Regular Rate\"]}}",
            "Overtime Rate": "={{$json[\"Overtime Rate\"]}}",
            "Overtime Pay": "={{$json[\"Overtime Pay\"]}}",
            "Reason": "={{$json[\"Reason\"]}}",
            "Approved By": "={{$json[\"Approved By\"]}}",
            "Logged At": "={{$json[\"Logged At\"]}}",
            "Notes": "={{$json[\"Notes\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Regular Hours",
              "displayName": "Regular Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overtime Hours",
              "displayName": "Overtime Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Regular Rate",
              "displayName": "Regular Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overtime Rate",
              "displayName": "Overtime Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overtime Pay",
              "displayName": "Overtime Pay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Approved By",
              "displayName": "Approved By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logged At",
              "displayName": "Logged At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3e5f90f5-3eac-493b-815d-b4c4c0c666b3",
      "name": "Save Overtime",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1104,
        1504
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: 'Overtime logged successfully'\n  }\n}];"
      },
      "id": "117a201b-2f15-4000-8e18-de277561f3de",
      "name": "Overtime Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1504
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1-5"
            }
          ]
        }
      },
      "id": "c81582b7-4fc3-4636-a583-5a2193331c88",
      "name": "Daily Check 10AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        656,
        2400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Employees",
          "mode": "name"
        },
        "options": {}
      },
      "id": "ec4f9186-e2d4-4823-b291-5391d2be973b",
      "name": "Get All Employees",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        2400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Attendance",
          "mode": "name"
        },
        "options": {}
      },
      "id": "3ecd71c5-0f21-4462-b172-1dc07f7d0727",
      "name": "Get Today Attendance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1104,
        2400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const employees = $input.first().all();\nconst attendance = $input.last().all();\nconst today = new Date().toLocaleDateString('en-US');\nconst cutoffTime = new Date();\ncutoffTime.setHours(9, 30, 0, 0);\n\nconst todayAttendance = attendance.filter(a => a.json.Date === today);\nconst alerts = [];\n\nemployees.forEach(emp => {\n  const empId = emp.json['Employee ID'];\n  const empName = emp.json['Employee Name'];\n  const department = emp.json['Department'] || 'N/A';\n  const email = emp.json['Email'] || 'N/A';\n  \n  const record = todayAttendance.find(a => a.json['Employee ID'] === empId);\n  \n  if (!record) {\n    alerts.push({\n      json: {\n        'Alert Type': 'ABSENT',\n        'Employee ID': empId,\n        'Employee Name': empName,\n        'Department': department,\n        'Email': email,\n        'Date': today,\n        'Time': new Date().toLocaleTimeString(),\n        'Message': `${empName} has not checked in`,\n        'Severity': 'HIGH'\n      }\n    });\n  } else {\n    const checkTime = new Date(`${today} ${record.json.Time}`);\n    if (checkTime > cutoffTime) {\n      const minutesLate = Math.floor((checkTime - cutoffTime) / 60000);\n      alerts.push({\n        json: {\n          'Alert Type': 'LATE',\n          'Employee ID': empId,\n          'Employee Name': empName,\n          'Department': department,\n          'Email': email,\n          'Date': today,\n          'Time': record.json.Time,\n          'Minutes Late': minutesLate,\n          'Message': `${empName} is ${minutesLate} min late`,\n          'Severity': minutesLate > 30 ? 'HIGH' : 'MEDIUM'\n        }\n      });\n    }\n  }\n});\n\nreturn alerts.length > 0 ? alerts : [{ json: { 'Alert Type': 'INFO', 'Message': 'All on time', 'Date': today }}];"
      },
      "id": "bacc41d8-f824-4e19-9d61-ef37b6633817",
      "name": "Check Late Absent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        2400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Alerts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "d113599e-784c-44ca-9137-1df0cfba681b",
      "name": "Save Alerts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1552,
        2400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst data = items.map(item => ({\n  'Employee ID': item.json['Employee ID'] || '',\n  'Employee Name': item.json['Employee Name'] || '',\n  'Department': item.json['Department'] || '',\n  'Date': item.json['Date'] || '',\n  'Time': item.json['Time'] || '',\n  'Status': item.json['Status'] || ''\n}));\n\nreturn [{\n  json: {\n    success: true,\n    count: data.length,\n    data: data\n  }\n}];"
      },
      "name": "Format Attendance Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        2848
      ],
      "id": "38d96e41-c37f-41e2-8f78-4bb8dce340f3"
    },
    {
      "parameters": {
        "path": "admin/get-leave",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Get Leave",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        3072
      ],
      "webhookId": "admin-get-leave",
      "id": "79a5f0b7-5ff0-4aba-addb-a33c4db6bed1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leave_Requests",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Read Leave Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        3072
      ],
      "id": "161d42f2-545b-4cb0-8cc6-42bf22204e1c",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst data = items.map(item => ({\n  'Leave ID': item.json['Leave ID'] || '',\n  'Employee ID': item.json['Employee ID'] || '',\n  'Employee Name': item.json['Employee Name'] || item.json[' Employee Name'] || '',\n  'Leave Type': item.json['Leave Type'] || '',\n  'Start Date': item.json['Start Date'] || '',\n  'End Date': item.json['End Date'] || '',\n  'Days': item.json['Days'] || 0,\n  'Reason': item.json['Reason'] || '',\n  'Status': item.json['Status'] || 'Pending',\n  'Approved By': item.json['Approved By'] || '',\n  'Approved Date': item.json['Approved Date'] || ''\n}));\n\nreturn [{\n  json: {\n    success: true,\n    count: data.length,\n    data: data\n  }\n}];"
      },
      "name": "Format Leave Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        3072
      ],
      "id": "abb45068-697c-443e-8892-2cd50d260916"
    },
    {
      "parameters": {
        "path": "admin/get-overtime",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Get Overtime",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        3296
      ],
      "webhookId": "admin-get-overtime",
      "id": "503956ce-2c9a-4b0a-b7c2-255572d3da62"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Overtime Sheet",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Read Overtime Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        3296
      ],
      "id": "80418b6a-d145-4c5b-9ae1-0045c728162c",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst data = items.map(item => ({\n  'Employee ID': item.json['Employee ID'] || '',\n  'Employee Name': item.json['Employee Name'] || '',\n  'Date': item.json['Date'] || '',\n  'Regular Hours': item.json['Regular Hours'] || 8,\n  'Overtime Hours': item.json['Overtime Hours'] || 0,\n  'Regular Rate': item.json['Regular Rate'] || 0,\n  'Overtime Rate': item.json['Overtime Rate'] || 0,\n  'Overtime Pay': item.json['Overtime Pay'] || 0,\n  'Reason': item.json['Reason'] || '',\n  'Approved By': item.json['Approved By'] || ''\n}));\n\nreturn [{\n  json: {\n    success: true,\n    count: data.length,\n    data: data\n  }\n}];"
      },
      "name": "Format Overtime Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        3296
      ],
      "id": "b57ff4a8-05d1-42a8-b07f-9fff9d825aea"
    },
    {
      "parameters": {
        "path": "admin/get-employees",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Get Employees",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        3520
      ],
      "webhookId": "admin-get-employees",
      "id": "764e61be-d3c0-44a2-858d-33ce17791f61"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Employees",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Read Employees Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        3520
      ],
      "id": "2418a49e-2bd6-4a63-a969-d52d61110ff0",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst data = items.map(item => ({\n  'Employee ID': item.json['Employee ID'] || item.json['Employee ID '] || '',\n  'Employee Name': item.json['Employee Name'] || '',\n  'Department': item.json['Department'] || '',\n  'Hire Date': item.json['Hire Date'] || '',\n  'Email': item.json['Email'] || '',\n  'Phone': item.json['Phone'] || ''\n}));\n\nreturn [{\n  json: {\n    success: true,\n    count: data.length,\n    data: data\n  }\n}];"
      },
      "name": "Format Employees Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        3520
      ],
      "id": "bada4125-16d4-4e5b-a2bd-a41186eb3b3e"
    },
    {
      "parameters": {
        "path": "admin/get-alerts",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Get Alerts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        3744
      ],
      "webhookId": "admin-get-alerts",
      "id": "a8791feb-040e-4912-a84c-4bb5ca749c39"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Alerts",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Read Alerts Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        3744
      ],
      "id": "066f9fbf-6b01-42db-b8e8-ed6e72b7f810",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst data = items.map(item => ({\n  'Alert Type': item.json['Alert Type'] || '',\n  'Employee ID': item.json['Employee ID'] || '',\n  'Employee Name': item.json['Employee Name'] || '',\n  'Department': item.json['Department'] || '',\n  'Date': item.json['Date'] || '',\n  'Time': item.json['Time'] || '',\n  'Message': item.json['Message'] || '',\n  'Severity': item.json['Severity'] || ''\n}));\n\nreturn [{\n  json: {\n    success: true,\n    count: data.length,\n    data: data\n  }\n}];"
      },
      "name": "Format Alerts Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        3744
      ],
      "id": "6be73f03-a8b3-4af3-a061-fb1210dbc930"
    },
    {
      "parameters": {
        "path": "admin/get-stats",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Get Stats",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        2624
      ],
      "webhookId": "admin-get-stats",
      "id": "fe3213ae-5d05-4264-a5db-77f2e2e5aa97"
    },
    {
      "parameters": {
        "jsCode": "// For now, return hardcoded stats\n// You can make this dynamic later by reading from sheets\n\nreturn [{\n  json: {\n    total_employees: 20,\n    present_today: 18,\n    pending_leave: 3,\n    late_arrivals: 5\n  }\n}];"
      },
      "name": "Calculate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2624
      ],
      "id": "88aaf397-e509-4ecf-aa76-9fc954baa529"
    },
    {
      "parameters": {
        "path": "admin/get-attendance",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Get Attendance1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        2848
      ],
      "webhookId": "your-webhook-id-here",
      "id": "724c6e15-c09b-4765-a168-bb043e514003"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Attendance",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Read Attendance Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        2848
      ],
      "id": "393e070a-8fd8-4e89-806b-17e60973e5c4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/generate-payroll",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Generate Payroll",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        1280
      ],
      "webhookId": "admin-generate-payroll",
      "id": "0b7550e2-a9f4-4092-b333-1bf2adba4d32"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: 'Payroll generated successfully',\n    records: $input.all().length\n  }\n}];"
      },
      "name": "Payroll Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        1280
      ],
      "id": "a10934cc-2210-401a-bc70-2303fdc0b102"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/check-alerts",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Check Alerts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        1728
      ],
      "webhookId": "admin-check-alerts",
      "id": "2ec6db44-d9b5-41f8-818d-7555c3a0189b"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: 'Alert check completed',\n    alerts_found: $input.all().length\n  }\n}];"
      },
      "name": "Alert Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1728
      ],
      "id": "c2904949-651f-4f57-9ae5-43c04d667a92"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/approve-leave",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Approve Leave",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        2176
      ],
      "webhookId": "admin-approve-leave",
      "id": "02296ee1-5e18-4fd5-89fe-77efdda32fbb"
    },
    {
      "parameters": {
        "jsCode": "// Get the leave ID and status from webhook body\nconst body = $input.first().json.body;\nconst leaveId = body['Leave ID'];\nconst newStatus = body['Status'] || 'Approved';\nconst approvedBy = body['Approved By'] || 'Admin';\nconst approvedDate = new Date().toLocaleDateString('en-US');\n\nreturn [{\n  json: {\n    leaveId: leaveId,\n    status: newStatus,\n    approvedBy: approvedBy,\n    approvedDate: approvedDate\n  }\n}];"
      },
      "name": "Extract Leave Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2176
      ],
      "id": "3e566ac2-a504-415c-97ad-47b415f3d087"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leave_Requests",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Read Leave Requests",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1104,
        2176
      ],
      "id": "84304514-47a5-45da-ae07-a53929395e68",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find the row number for the leave ID\nconst leaveData = $input.first().json;\nconst allLeaves = $input.last().all();\n\nconst leaveId = leaveData.leaveId;\nlet rowNumber = -1;\n\nfor (let i = 0; i < allLeaves.length; i++) {\n  if (allLeaves[i].json['Leave ID'] === leaveId) {\n    rowNumber = i + 2; // +2 because sheets are 1-indexed and have header row\n    break;\n  }\n}\n\nif (rowNumber === -1) {\n  throw new Error(`Leave ID ${leaveId} not found`);\n}\n\nreturn [{\n  json: {\n    rowNumber: rowNumber,\n    status: leaveData.status,\n    approvedBy: leaveData.approvedBy,\n    approvedDate: leaveData.approvedDate\n  }\n}];"
      },
      "name": "Find Row Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        2176
      ],
      "id": "4e0964ca-ffd6-4912-b64c-75fb02350a29"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leave_Requests",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.status }}",
            "Approved By": "={{ $json.approvedBy }}",
            "Approved Date": "={{ $json.approvedDate }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "name": "Update Leave Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1552,
        2176
      ],
      "id": "deb06887-bf07-4e69-bc08-bb326280c057",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: 'Leave request updated successfully'\n  }\n}];"
      },
      "name": "Leave Approval Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        2176
      ],
      "id": "d48f04eb-ec13-4e28-ad2d-55904ba79061"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Attendance",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Get Attendance Records1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        1280
      ],
      "id": "a8cf698f-e416-4a54-aee2-176eb0c7b022",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate payroll for all employees\nconst attendanceRecords = $input.all();\nconst now = new Date();\nconst lastMonth = new Date(now.getFullYear(), now.getMonth() - 1, 1);\nconst lastMonthEnd = new Date(now.getFullYear(), now.getMonth(), 0);\n\n// Employee hourly rates (you can customize this or fetch from Employees sheet)\nconst hourlyRates = {\n  'E001': 25, 'E002': 20, 'E003': 28, 'E004': 22, 'E005': 30,\n  'E006': 15, 'E007': 19, 'E008': 22, 'E009': 15, 'E010': 18,\n  'E011': 20, 'E012': 16, 'E013': 21, 'E014': 17, 'E015': 19,\n  'E016': 15, 'E017': 18, 'E018': 16, 'E019': 20, 'E020': 17\n};\n\nconst workingHoursPerDay = 8;\n\n// Group by employee\nconst employeeData = {};\n\nattendanceRecords.forEach(record => {\n  const empId = record.json['Employee ID'];\n  const empName = record.json['Employee Name'];\n  const date = record.json['Date'];\n  const status = record.json['Status'];\n  \n  if (!employeeData[empId]) {\n    employeeData[empId] = {\n      employeeId: empId,\n      employeeName: empName,\n      presentDays: new Set(),\n      totalHours: 0,\n      hourlyRate: hourlyRates[empId] || 15\n    };\n  }\n  \n  if (status === 'Present' || status === 'Late') {\n    employeeData[empId].presentDays.add(date);\n  }\n});\n\n// Calculate payroll\nconst payrollResults = Object.values(employeeData).map(emp => {\n  const daysPresent = emp.presentDays.size;\n  const hoursWorked = daysPresent * workingHoursPerDay;\n  const grossPay = hoursWorked * emp.hourlyRate;\n  const tax = grossPay * 0.15; // 15% tax\n  const netPay = grossPay - tax;\n  \n  return {\n    json: {\n      'Employee ID': emp.employeeId,\n      'Employee Name': emp.employeeName,\n      'Days Present': daysPresent,\n      'Hours Worked': hoursWorked,\n      'Hourly Rate': emp.hourlyRate,\n      'Gross Pay': grossPay.toFixed(2),\n      'Tax (15%)': tax.toFixed(2),\n      'Net Pay': netPay.toFixed(2),\n      'Period': `${lastMonth.toLocaleDateString()} - ${lastMonthEnd.toLocaleDateString()}`,\n      'Generated On': now.toLocaleDateString()\n    }\n  };\n});\n\nreturn payrollResults;"
      },
      "name": "Calculate Monthly Payroll1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1280
      ],
      "id": "42b651b8-6d7f-423c-b503-bfe17638eae0"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Payroll",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "name": "Save Payroll Report1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1328,
        1280
      ],
      "id": "b467af29-de7c-4cf2-b789-64dfad7c670d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Employees",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Get All Employees1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        1728
      ],
      "id": "b1343d80-e821-4234-96d8-3bcb1606ce17",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Attendance",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Get Today Attendance1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1104,
        1728
      ],
      "id": "1649f3cf-68f6-4d04-9f35-fc37ca4c6470",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items (from both Google Sheets nodes)\nconst allItems = $input.all();\n\n// The first set of items are employees, second set is attendance\n// We need to separate them based on their structure\nconst employees = [];\nconst attendance = [];\n\nallItems.forEach(item => {\n  // Check if item has attendance-specific fields\n  if (item.json['Status'] || item.json['Time']) {\n    attendance.push(item);\n  } else if (item.json['Employee Name']) {\n    employees.push(item);\n  }\n});\n\nconst today = new Date().toLocaleDateString('en-US');\nconst alerts = [];\n\n// Check each employee\nemployees.forEach(emp => {\n  const empId = emp.json['Employee ID'] || emp.json['Employee ID '];\n  const empName = emp.json['Employee Name'];\n  const department = emp.json['Department'] || 'N/A';\n  const email = emp.json['Email'] || 'N/A';\n  \n  // Find if employee has attendance record today\n  const todayRecord = attendance.find(att => {\n    const attEmpId = att.json['Employee ID'];\n    const attDate = new Date(att.json['Date']).toLocaleDateString('en-US');\n    return attEmpId === empId && attDate === today;\n  });\n  \n  if (!todayRecord) {\n    // Employee is absent\n    alerts.push({\n      json: {\n        'Alert Type': 'ABSENT',\n        'Employee ID': empId,\n        'Employee Name': empName,\n        'Department': department,\n        'Email': email,\n        'Date': today,\n        'Time': new Date().toLocaleTimeString(),\n        'Message': `${empName} has not checked in`,\n        'Severity': 'HIGH'\n      }\n    });\n  } else if (todayRecord.json['Status'] === 'Late') {\n    // Employee is late\n    alerts.push({\n      json: {\n        'Alert Type': 'LATE',\n        'Employee ID': empId,\n        'Employee Name': empName,\n        'Department': department,\n        'Email': email,\n        'Date': today,\n        'Time': todayRecord.json['Time'],\n        'Message': `${empName} arrived late`,\n        'Severity': 'MEDIUM'\n      }\n    });\n  }\n});\n\n// If no alerts, return success message\nif (alerts.length === 0) {\n  return [{\n    json: {\n      'Alert Type': 'INFO',\n      'Message': 'All employees on time',\n      'Date': today,\n      'Time': new Date().toLocaleTimeString(),\n      'Severity': 'LOW'\n    }\n  }];\n}\n\nreturn alerts;"
      },
      "name": "Check Late Absent1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1728
      ],
      "id": "026cfcb7-4023-4677-9703-f3c0cf6e72ba"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Alerts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Alert Type",
              "displayName": "Alert Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Minutes Late",
              "displayName": "Minutes Late",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Severity",
              "displayName": "Severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Save Alerts1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1552,
        1728
      ],
      "id": "13d5d786-b0d0-458c-94e6-23342fc055d5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "overtime/log",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Log Overtime",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        656,
        608
      ],
      "webhookId": "overtime-log-fixed",
      "id": "45a6491d-8941-4a31-b2ee-4f2872940dd1"
    },
    {
      "parameters": {
        "jsCode": "// Extract and format overtime data from webhook\nconst data = $input.first().json.body;\n\nconst regularRate = parseFloat(data['Hourly Rate']) || parseFloat(data['Regular Rate']) || 15;\nconst overtimeHours = parseFloat(data['Overtime Hours']) || 0;\nconst overtimeRate = regularRate * 1.5;\nconst overtimePay = overtimeHours * overtimeRate;\n\nreturn [{\n  json: {\n    'Employee ID': data['Employee ID'] || '',\n    'Employee Name': data['Employee Name'] || '',\n    'Date': data['Date'] || new Date().toLocaleDateString('en-US'),\n    'Regular Hours': data['Regular Hours'] || '8',\n    'Overtime Hours': String(overtimeHours),\n    'Regular Rate': String(regularRate.toFixed(2)),\n    'Overtime Rate': String(overtimeRate.toFixed(2)),\n    'Overtime Pay': String(overtimePay.toFixed(2)),\n    'Reason': data['Reason'] || '',\n    'Approved By': data['Approved By'] || 'Pending',\n    'Logged At': data['Logged At'] || new Date().toISOString(),\n    'Notes': data['Notes'] || ''\n  }\n}];"
      },
      "name": "Format Overtime Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        608
      ],
      "id": "4ec73a7c-2f7b-4543-b808-7764bcc0f95b"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Overtime Sheet",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee ID": "={{ $json['Employee ID'] }}",
            "Employee Name": "={{ $json['Employee Name'] }}",
            "Date": "={{ $json['Date'] }}",
            "Regular Hours": "={{ $json['Regular Hours'] }}",
            "Overtime Hours": "={{ $json['Overtime Hours'] }}",
            "Regular Rate": "={{ $json['Regular Rate'] }}",
            "Overtime Rate": "={{ $json['Overtime Rate'] }}",
            "Overtime Pay": "={{ $json['Overtime Pay'] }}",
            "Reason": "={{ $json['Reason'] }}",
            "Approved By": "={{ $json['Approved By'] }}",
            "Logged At": "={{ $json['Logged At'] }}",
            "Notes": "={{ $json['Notes'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Regular Hours",
              "displayName": "Regular Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overtime Hours",
              "displayName": "Overtime Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Regular Rate",
              "displayName": "Regular Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overtime Rate",
              "displayName": "Overtime Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overtime Pay",
              "displayName": "Overtime Pay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved By",
              "displayName": "Approved By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logged At",
              "displayName": "Logged At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "Append to Overtime Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1104,
        608
      ],
      "id": "dff131b9-1429-414a-a679-82054135868e",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: 'Overtime logged successfully',\n    overtime_pay: $input.first().json['Overtime Pay']\n  }\n}];"
      },
      "name": "Success Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        608
      ],
      "id": "e2e55323-a9a4-476f-aeca-17a3bb9d0ecd"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "attendance",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Attendance",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        576,
        4048
      ],
      "webhookId": "attendance-checkin-image",
      "id": "0c401f01-dcd8-41c6-a6a3-54eb3c076291"
    },
    {
      "parameters": {
        "jsCode": "// Extract attendance data from webhook\nconst data = $input.first().json.body || $input.first().json;\n\n// Get current timestamp\nconst now = new Date();\n\nreturn [{\n  json: {\n    'Date': data['Date'] || now.toLocaleDateString('en-US'),\n    'Time': data['Time'] || now.toLocaleTimeString('en-US'),\n    'Employee ID': data['Employee ID'] || '',\n    'Employee Name': data['Employee Name'] || '',\n    'Department': data['Department'] || 'N/A',\n    'Status': data['Status'] || 'Present',\n    'Image': data['Image'] || 'No image captured'\n  }\n}];"
      },
      "name": "Format Attendance Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        4048
      ],
      "id": "33c4e86d-d878-41c8-a023-f8aa6d6d1047"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Attendance",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json['Date'] }}",
            "Time": "={{ $json['Time'] }}",
            "Employee ID": "={{ $json['Employee ID'] }}",
            "Employee Name": "={{ $json['Employee Name'] }}",
            "Department": "={{ $json['Department'] }}",
            "Status": "={{ $json['Status'] }}",
            "Image": "={{ $json['Image'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "Save to Attendance Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1024,
        4048
      ],
      "id": "ee4b04da-8524-4b23-a963-544bb5859f2d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Attendance recorded for ${data['Employee Name']}`,\n    timestamp: new Date().toISOString(),\n    employeeName: data['Employee Name'],\n    employeeId: data['Employee ID'],\n    status: data['Status']\n  }\n}];"
      },
      "name": "Success Response2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        4048
      ],
      "id": "962fa325-b5a8-41e1-8661-fa8b1d15bba0"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leave_Requests",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Read All Leave Requests",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        864,
        4304
      ],
      "id": "b723710c-695f-48d5-91ac-2d601aafd495",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all leave requests and find the matching one\nconst leaveData = $('Extract Leave Data1').first().json;\nconst allLeaves = $input.all();\n\nconst leaveId = leaveData.leaveId;\n\n// Find the matching leave request\nlet matchingLeave = null;\nlet rowIndex = -1;\n\nfor (let i = 0; i < allLeaves.length; i++) {\n  const leave = allLeaves[i].json;\n  if (leave['Leave ID'] === leaveId) {\n    matchingLeave = leave;\n    rowIndex = i + 2; // +2 for header row and 1-based indexing\n    break;\n  }\n}\n\nif (!matchingLeave) {\n  throw new Error(`Leave ID ${leaveId} not found in sheet`);\n}\n\nreturn [{\n  json: {\n    rowNumber: rowIndex,\n    status: leaveData.status,\n    approvedBy: leaveData.approvedBy,\n    approvedDate: leaveData.approvedDate,\n    leaveId: leaveId,\n    employeeName: matchingLeave['Employee Name'] || matchingLeave[' Employee Name'] || 'Unknown'\n  }\n}];"
      },
      "name": "Find Matching Leave",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        4304
      ],
      "id": "b4bf2980-4da5-4561-9f5a-840760bfd6a0"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/approve-leave",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Approve Leave1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        416,
        4304
      ],
      "webhookId": "approve-leave-fixed-v2",
      "id": "7e8f5c9e-12d8-4239-8631-8ca3e003bf9e"
    },
    {
      "parameters": {
        "jsCode": "// Extract leave approval data from webhook\nconst body = $input.first().json.body || $input.first().json;\n\nconst leaveId = body['Leave ID'];\nconst newStatus = body['Status'] || 'Approved';\nconst approvedBy = body['Approved By'] || 'Admin';\nconst approvedDate = new Date().toLocaleDateString('en-US');\n\n// Store in node output for later use\nreturn [{\n  json: {\n    leaveId: leaveId,\n    status: newStatus,\n    approvedBy: approvedBy,\n    approvedDate: approvedDate\n  }\n}];"
      },
      "name": "Extract Leave Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        4304
      ],
      "id": "d4a7dc28-d5ab-4ff6-a6e5-553dd4789d2e"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leave_Requests",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.status }}",
            "Approved By": "={{ $json.approvedBy }}",
            "Approved Date": "={{ $json.approvedDate }}"
          },
          "matchingColumns": [
            "Leave ID"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved By",
              "displayName": "Approved By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved Date",
              "displayName": "Approved Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "name": "Update Leave Status1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1296,
        4304
      ],
      "id": "49d14fcd-1450-4f69-9f0a-f8f3be6c2d5c",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Leave request ${data.status.toLowerCase()} successfully`,\n    leaveId: data.leaveId,\n    status: data.status,\n    employeeName: data.employeeName\n  }\n}];"
      },
      "name": "Success Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        4304
      ],
      "id": "4b6768ea-5bee-4f8c-b69e-03a617221e9e"
    },
    {
      "parameters": {
        "jsCode": "// Get the matching leave data\nconst data = $input.first().json;\n\n// Prepare the update - we need to set ALL columns to preserve data\n// Get the original leave data from Find Matching Leave node\nconst leaveData = $('Find Matching Leave1').first().json;\n\n// Read all current data from sheet to preserve it\nconst allLeaves = $('Read All Leave Requests1').all();\nconst matchingLeave = allLeaves.find(l => l.json['Leave ID'] === data.leaveId);\n\nif (!matchingLeave) {\n  throw new Error(`Leave ID ${data.leaveId} not found`);\n}\n\n// Return updated row with ALL fields preserved, only Status/Approved fields changed\nreturn [{\n  json: {\n    'Leave ID': data.leaveId,\n    'Employee ID': matchingLeave.json['Employee ID'],\n    'Employee Name': matchingLeave.json['Employee Name'] || matchingLeave.json[' Employee Name'],\n    'Leave Type': matchingLeave.json['Leave Type'],\n    'Start Date': matchingLeave.json['Start Date'],\n    'End Date': matchingLeave.json['End Date'],\n    'Days': matchingLeave.json['Days'],\n    'Reason': matchingLeave.json['Reason'],\n    'Status': data.status,\n    'Approved By': data.approvedBy,\n    'Approved Date': data.approvedDate,\n    'Submitted Date': matchingLeave.json['Submitted Date']\n  }\n}];"
      },
      "name": "Prepare Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        4624
      ],
      "id": "2525b57e-4934-408e-be42-07b93f0ff5d8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/approve-leave",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook - Approve Leave2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        368,
        4624
      ],
      "webhookId": "approve-leave-fixed-v2",
      "id": "3858c815-5e0a-4099-8dc1-01b68f0dffd7"
    },
    {
      "parameters": {
        "jsCode": "// Extract leave approval data from webhook\nconst body = $input.first().json.body || $input.first().json;\n\nconst leaveId = body['Leave ID'];\nconst newStatus = body['Status'] || 'Approved';\nconst approvedBy = body['Approved By'] || 'Admin';\nconst approvedDate = new Date().toLocaleDateString('en-US');\n\n// Store in node output for later use\nreturn [{\n  json: {\n    leaveId: leaveId,\n    status: newStatus,\n    approvedBy: approvedBy,\n    approvedDate: approvedDate\n  }\n}];"
      },
      "name": "Extract Leave Data2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        4624
      ],
      "id": "748632ff-7108-4b61-be81-739707b5a5e2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leave_Requests",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Read All Leave Requests1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        816,
        4624
      ],
      "id": "80001932-ba7c-4343-9879-a576302bd9dd",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all leave requests and find the matching one\nconst leaveData = $('Extract Leave Data2').first().json;\nconst allLeaves = $input.all();\n\nconst leaveId = leaveData.leaveId;\n\n// Find the matching leave request\nlet matchingLeave = null;\nlet rowIndex = -1;\n\nfor (let i = 0; i < allLeaves.length; i++) {\n  const leave = allLeaves[i].json;\n  if (leave['Leave ID'] === leaveId) {\n    matchingLeave = leave;\n    rowIndex = i + 2; // +2 for header row and 1-based indexing\n    break;\n  }\n}\n\nif (!matchingLeave) {\n  throw new Error(`Leave ID ${leaveId} not found in sheet`);\n}\n\nreturn [{\n  json: {\n    rowNumber: rowIndex,\n    status: leaveData.status,\n    approvedBy: leaveData.approvedBy,\n    approvedDate: leaveData.approvedDate,\n    leaveId: leaveId,\n    employeeName: matchingLeave['Employee Name'] || matchingLeave[' Employee Name'] || 'Unknown'\n  }\n}];"
      },
      "name": "Find Matching Leave1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        4624
      ],
      "id": "e0434166-ebf9-4310-bea8-a43d8f118930"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leave_Requests",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Leave ID",
              "displayName": "Leave ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Employee Name",
              "displayName": " Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Leave Type",
              "displayName": "Leave Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "End Date",
              "displayName": "End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Days",
              "displayName": "Days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Approved By",
              "displayName": "Approved By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Approved Date",
              "displayName": "Approved Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submitted Date",
              "displayName": "Submitted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rowNumber",
              "displayName": "rowNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approvedBy",
              "displayName": "approvedBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approvedDate",
              "displayName": "approvedDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leaveId",
              "displayName": "leaveId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update Leave Status2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1472,
        4624
      ],
      "id": "9dc6022c-4465-4480-b176-f7140f4f2b59",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Leave request ${data.status.toLowerCase()} successfully`,\n    leaveId: data['Leave ID'],\n    status: data['Status'],\n    employeeName: data['Employee Name']\n  }\n}];"
      },
      "name": "Success Response4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        4624
      ],
      "id": "3e23ab1b-456c-4666-ba3a-66ad70543c8e"
    }
  ],
  "pinData": {
    "Webhook - Check Alerts": [
      {
        "json": {
          "headers": {
            "host": "n8n.your-server-id-here.hstgr.cloud",
            "user-agent": "python-requests/2.32.5",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, zstd",
            "x-forwarded-for": "39.32.136.184",
            "x-forwarded-host": "n8n.your-server-id-here.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "57a57f1629d6",
            "x-real-ip": "39.32.136.184"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://n8n.your-server-id-here.hstgr.cloud/webhook/admin/check-alerts",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Employee Check-In": {
      "main": [
        [
          {
            "node": "Log to Attendance Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Attendance Sheet": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Payroll (1st of month)": {
      "main": [
        [
          {
            "node": "Get Attendance Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attendance Records": {
      "main": [
        [
          {
            "node": "Calculate Monthly Payroll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Monthly Payroll": {
      "main": [
        [
          {
            "node": "Save Payroll Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Report Request": {
      "main": [
        [
          {
            "node": "Get All Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Attendance": {
      "main": [
        [
          {
            "node": "Generate Analytics Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register New Employee": {
      "main": [
        [
          {
            "node": "Save Employee Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Employee Details": {
      "main": [
        [
          {
            "node": "Registration Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leave Request": {
      "main": [
        [
          {
            "node": "Save Leave Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Leave Request": {
      "main": [
        [
          {
            "node": "Leave Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Overtime": {
      "main": [
        [
          {
            "node": "Calculate Overtime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Overtime": {
      "main": [
        [
          {
            "node": "Save Overtime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Overtime": {
      "main": [
        [
          {
            "node": "Overtime Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Check 10AM": {
      "main": [
        [
          {
            "node": "Get All Employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Employees": {
      "main": [
        [
          {
            "node": "Get Today Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Attendance": {
      "main": [
        [
          {
            "node": "Check Late Absent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Late Absent": {
      "main": [
        [
          {
            "node": "Save Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get Leave": {
      "main": [
        [
          {
            "node": "Read Leave Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leave Sheet": {
      "main": [
        [
          {
            "node": "Format Leave Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get Overtime": {
      "main": [
        [
          {
            "node": "Read Overtime Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Overtime Sheet": {
      "main": [
        [
          {
            "node": "Format Overtime Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get Employees": {
      "main": [
        [
          {
            "node": "Read Employees Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Employees Sheet": {
      "main": [
        [
          {
            "node": "Format Employees Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get Alerts": {
      "main": [
        [
          {
            "node": "Read Alerts Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Alerts Sheet": {
      "main": [
        [
          {
            "node": "Format Alerts Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get Stats": {
      "main": [
        [
          {
            "node": "Calculate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Get Attendance1": {
      "main": [
        [
          {
            "node": "Read Attendance Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Attendance Sheet1": {
      "main": [
        [
          {
            "node": "Format Attendance Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Generate Payroll": {
      "main": [
        [
          {
            "node": "Get Attendance Records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Check Alerts": {
      "main": [
        [
          {
            "node": "Get All Employees1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Approve Leave": {
      "main": [
        [
          {
            "node": "Extract Leave Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Leave Data": {
      "main": [
        [
          {
            "node": "Read Leave Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leave Requests": {
      "main": [
        [
          {
            "node": "Find Row Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Row Number": {
      "main": [
        [
          {
            "node": "Update Leave Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Leave Status": {
      "main": [
        [
          {
            "node": "Leave Approval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attendance Records1": {
      "main": [
        [
          {
            "node": "Calculate Monthly Payroll1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Monthly Payroll1": {
      "main": [
        [
          {
            "node": "Save Payroll Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Payroll Report1": {
      "main": [
        [
          {
            "node": "Payroll Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Employees1": {
      "main": [
        [
          {
            "node": "Get Today Attendance1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Attendance1": {
      "main": [
        [
          {
            "node": "Check Late Absent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Late Absent1": {
      "main": [
        [
          {
            "node": "Save Alerts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Alerts1": {
      "main": [
        [
          {
            "node": "Alert Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Log Overtime": {
      "main": [
        [
          {
            "node": "Format Overtime Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Overtime Data": {
      "main": [
        [
          {
            "node": "Append to Overtime Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Overtime Sheet": {
      "main": [
        [
          {
            "node": "Success Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Attendance": {
      "main": [
        [
          {
            "node": "Format Attendance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Attendance Data": {
      "main": [
        [
          {
            "node": "Save to Attendance Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Attendance Sheet": {
      "main": [
        [
          {
            "node": "Success Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Leave Requests": {
      "main": [
        [
          {
            "node": "Find Matching Leave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Leave": {
      "main": [
        [
          {
            "node": "Update Leave Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Approve Leave1": {
      "main": [
        [
          {
            "node": "Extract Leave Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Leave Data1": {
      "main": [
        [
          {
            "node": "Read All Leave Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Leave Status1": {
      "main": [
        [
          {
            "node": "Success Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Data": {
      "main": [
        [
          {
            "node": "Update Leave Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Approve Leave2": {
      "main": [
        [
          {
            "node": "Extract Leave Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Leave Data2": {
      "main": [
        [
          {
            "node": "Read All Leave Requests1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Leave Requests1": {
      "main": [
        [
          {
            "node": "Find Matching Leave1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Leave1": {
      "main": [
        [
          {
            "node": "Prepare Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Leave Status2": {
      "main": [
        [
          {
            "node": "Success Response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "921e23eb-7706-49de-bcfe-a383a863a1db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4968911f12433f2a04c0ad6a0cfbd80ee2a912ccf2cac637bc31643265c8989f"
  },
  "id": "j2vIja73Ipzp5SKi",
  "tags": []
}
